<h1>
  Add a new user type
</h1>

<hr>

<%= render("user_type_templates/validation_failures.html.erb") %>

<form action="/insert_user_type_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @user_type.name %>">
  </div>

  <button>
    Create user type
  </button>
</form>

<hr>

<a href="/user_types">
  Go back
</a>
