<div class="main_question"><p><%=@q1%></p></div>

<!–– Add here evalation-->


  <div class="timer_container">
      <p>Timmer</p>
      <p id="timer">
          <span id="timer-mins"></span>
          <span id="timer-secs"></span>
      </p>
  </div>
  
  <script src="/app/assets/javascripts/timer.js"></script>