<div class="main_question"><p>What to you want to do?</p></div>

<div class="row">
  <div class="card-deck">
    <div class="card">
      <img src="/pictures/logo1.png" class="card-img-top" alt="..." style="max-width:100%; max-height:100%;">
      <div class="card-body">
        <h5 class="card-title">Mock Interview</h5>
        <p class="card-text">Run a full Mock Interview and see how you are doing!</p>
      </div>
      <div class="card-footer">
        <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Run Full Mock</button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/full_mock/MBA">MBA Interview Mock</a>
                <a class="dropdown-item" href="/full_mock/JI">Job Interview Mock</a>
              </div>
        </div>
      </div>
    </div>
  

    <div class="card">
      <img src="/pictures/logo3.png" class="card-img-top" alt="..." style="max-width:100%; max-height:100%;">
      <div class="card-body">
        <h5 class="card-title">Practice</h5>
        <p class="card-text">Practice particular type of questions you feel you need extra practice.</p>
      </div>
      <div class="card-footer">
        <a href="/practice_interview_questions" class="btn btn-primary">Go Practice</a>
      </div>
    </div>

  
    <div class="card">
      <img src="/pictures/logo2.png" class="card-img-top" alt="..." style="max-width:100%; max-height:100%;">
      <div class="card-body">
        <h5 class="card-title">Past Questions</h5>
        <p class="card-text">Go over past questions you have already seen</p>
      </div>
      
      <div class="card-footer">
        <a href="/question_history" class="btn btn-primary">Check Past Questions</a>
      </div>
    </div>

</div>
